@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 1230px) {
   .container {float: left;width: 100%;padding: 0 15px;}
   header.main-header {padding: 10px 0 15px;border-bottom: 1px solid #fff;}
   .logo, .logo > a, .logo > a img {width: 120px;}
   .main-nav > ul > li {margin-right: 25px;}
   .main-nav > ul > li > a {font-size: 16px;}
   .has-subnav::after {background-size: 10px auto;top: 11px;}
   .sub-menu {min-width: 150px;}
   .sub-menu > li > a {font-size: 13px;padding: 8px 10px;}
   .main-nav > ul > li:hover .sub-menu {top: 22px;}
   p,body {font-size: 14px;}
   .header-contact {margin-bottom: 10px;}
   .right-header {padding-top: 4px;}

   /*.main-banner {padding-bottom: 114px;padding-top: 116px;}*/
   h1 {font-size: 45px;}
   .main-banner p {font-size: 18px;letter-spacing: 1px;}
   .banner-btn {margin-top: 55px;}
   .main-btn {font-size: 18px;height: 45px;line-height: 45px;min-width: 170px;padding: 0 25px;}
   
   .info-part {padding: 30px 0 28px;}
   h2 {font-size: 26px;margin-bottom: 10px;}
   h5 {font-size: 17px;margin-bottom: 3px;}   

   .why-us-part {padding: 30px 0;}
   .why-us-part h2 {margin-bottom: 31px;}
   .why-us-list > li {padding: 0 10px;}
   .icon-box {height: 71px;line-height: 71px;margin-bottom: 25px;width: 71px;}
   h4 {font-size: 20px;}
   
   .more-info-part {padding: 32px 0 28px;}
   .service-part {margin-bottom: 28px;}
   .about-us-part {padding: 37px 0;}
   .about-us-part ul li {margin-right: 3%;width: 31.3%;}
   .about-us-box {height: auto;}
   .about-us-box > h4 {font-size: 20px;padding: 8px 10px 9px !important;}
   .about-us-box > span {height: auto;padding-top: 75%;position: relative;}
   .about-us-box span img {left: 0;position: absolute;right: 0;top: 0;width: 100%;height: 100%;}
   .learn-more-img {padding-top: 75%;position: relative;height: auto;}
   .learn-more-text > h4 {font-size: 20px;margin-bottom: 27px;}
   .learn-more-img > img {height: 100%;left: 0;position: absolute;right: 0;top: 0;width: 100%;}
   .learn-more-box {height: auto;}

   .contact-home {padding-top: 20px;}
   .contact-home > h2 {margin-bottom: 24px;}

   .testimonials-home {padding: 29px 0 39px;}
   .testimonials-home h2 {margin-bottom: 22px;}

   .twit-part {padding-bottom: 25px;padding-top: 29px;}
   .twit-part > ul {margin-bottom: 30px;}

   footer.main-footer {padding: 21px 0 22px;}
   footer.main-footer h2 {margin-bottom: 25px;}
   .footer-contact-info > li {padding: 0 10px;}
   .footer-contact-info p br {display: none;}
   .footer-contact-info li p, .footer-contact-info li a {font-size: 14px;}
   .footer-links {margin-top: 44px;}

   .inner-content-part {padding: 30px 0;}
   .inner-banner-part {padding: 76px 0 71px;}
   .left-contentbar {width: calc(100% - 300px);padding-right: 30px;}
   .right-sidebar {width: 300px;}
   .quote-form > h2 {font-size: 20px;}
   .quote-form .input-grp {font-size: 16px;height: 49px;padding: 0 12px;}
   .quote-form textarea.input-grp {height: 110px;padding: 10px 12px;}
   .quote-form {padding: 13px 16px 18px;}
   .call-now {padding: 26px 10px;}
   .call-now > p {font-size: 24px;width: 166px;}
   .quote-icon {width: 85px;height: 81px;}
   .main-text > h2 {padding-right: 0;}
   .list-part > ul {margin-bottom: 20px;}

   .contact-form {width: calc(100% - 260px);}
   .contact-details {width: 230px;}
   .contact-map {height: 300px;}
}

@media only screen and (min-width : 768px) {
   nav.main-nav { display:block !important;z-index: 9;}
   
}


@media only screen and (max-width: 767px) {   
   .hb-menu {display: block;}
   nav.main-nav { display:none;}
   .header-contact {display: none;}
   .logo, .logo > a, .logo > a img {width: 90px;} 
   nav.main-nav {background-color: #292461;left: 0;position: absolute;right: 0;top: 76px;width: 100%;z-index: 9;}
   .main-nav > ul, .main-nav > ul > li, .main-nav > ul > li > a {width: 100%;}
   .main-nav > ul > li {border-bottom: 1px solid #fff;}
   .main-nav > ul > li:last-child {border-bottom: none;}
   .main-nav > ul > li > a {padding: 8px 15px;margin-right: 0px;font-size: 14px;}
   body .main-header-sticky .right-header {padding-top: 4px;}
   .sub-menu {display: none;min-width: 100%;opacity: 1; position: relative;top: 0 !important;visibility: visible;background-color: #292461;transition: none;}
   .sub-menu > li:first-child {border-top: 1px solid #eeeeee;}
   .sub-menu > li > a {color: #fff; font-size: 13px; padding: 8px 30px;}
   .has-subnav::after {background-size: 13px auto;top: 16px;right: 17px;}

   /*.main-banner {padding-bottom: 50px;padding-top: 50px;}*/
   h1 {font-size: 30px;}
   .main-banner p {font-size: 16px;letter-spacing: 0;margin-top: 5px;}
   .banner-text-content {padding-left: 20px !important;background-color: rgba(255, 255, 255, 0.8);width: 85% !important;}
   .banner-btn {margin-top: 25px;}
   .main-btn {font-size: 16px;height: 40px;line-height: 40px;min-width: 150px;padding: 0 15px;}

   .info-part {padding: 20px 0;text-align: center;}
   h2 {font-size: 20px;}
   p {font-size: 13px;}
   h5 {font-size: 15px;}

   .why-us-part {padding: 20px 0;}
   .why-us-part h2 {margin-bottom: 21px;}
   .why-us-list > li {padding: 0;width: 100%;margin-bottom: 40px;}
   h4 {font-size: 18px;}
   .why-us-list > li:last-child {margin-bottom: 0;}

   .more-info-part {padding: 20px 0;}
   .service-part { margin-bottom: 20px;text-align: center;}
   .service-part > p {padding-right: 0;}
   .service-list > li {text-align: left;width: 100%;}

   .about-us-part {padding: 20px 0;}
   .about-us-part ul li { margin-bottom: 20px;margin-right: 0;width: 100%;}
   .about-us-part ul li:last-child {margin-bottom: 0px;}
   .about-us-box > span {padding-top: 65%;}
   .about-us-box > h4 {font-size: 18px;}

   .contact-home form ul li {width: 100%;}
   .input-grp {font-size: 15px;padding: 0 10px;height: 45px;}
   textarea.input-grp {padding: 10px;}
   .btn-grp {text-align: center;}

   .testimonials-home {padding: 20px 0;}
   .testimonials-home h2 {margin-bottom: 15px;}
   .testimonials-list > li {margin-bottom: 20px;margin-right: 0;width: 100%;}
   .testimonials-list > li:last-child {margin-bottom: 0px;}

   .twit-part {padding-bottom: 18px;padding-top: 24px;}
   .twit-part ul li {margin-bottom: 20px;margin-right: 0;width: 100%;}
   .twit-part ul li:last-child {margin-bottom: 0px;}
   .twit-part > ul {margin-bottom: 20px;}

   footer.main-footer {padding: 20px 0;}
   footer.main-footer h2 {margin-bottom: 15px;}
   .footer-contact-info > li {margin-bottom: 10px;padding: 0;width: 100%;}
   .footer-contact-info > li:last-child {margin-bottom: 0px;}
   .footer-links {margin-top: 14px;}
   .footer-contact-info li p, .footer-contact-info li a {font-size: 13px;}

   .left-contentbar {margin-bottom: 30px;padding-right: 0;width: 100%;text-align: center;}
   .list-part > ul {text-align: left;}
   .right-sidebar {width: 100%;}

   .contact-main-part {padding:30px 0px;}
   .contact-form {width: 100%;margin-bottom: 30px;}
   .contact-form .btn-grp {text-align: center;}
   .contact-details {width: 100%;text-align: center;}
   .contact-links {margin-top: 8px;}

   .main-banner .bx-wrapper .bx-prev {left: 0;}
   .main-banner .bx-wrapper .bx-next {right: 0;}
}
